<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <title>Data Processor</title>
</head>
<body class="text-center">

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" >
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Signalizer</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">DFT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">STFT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container  pt-4" style="background: rgba(255, 255, 255, 0.9);">

    <p class="lead text-start">
        Input files to upload (Wav file of size <1mb):
    </p>

    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="input-group">
            <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>

        <div class="p-2">
            <button type="submit"  id="submit" class="btn btn-success text-left btn-lg" name="response" value="HTML">Process!</button>
        </div>
    </form>

    {% if user_msg is defined %}
    <div class="alert alert-info" role="alert">
        {{ user_msg }}
    </div>
    {% endif %}

    {% if user_warn is defined %}
    <div class="alert alert-warning" role="alert">
        {{ user_warn }}
    </div>
    {% endif %}

    {% if figures is defined %}
    {{ figures|safe }}
    {% endif %}


</div>
</body>
</html>